In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import io
import scipy.stats as stats

In [ ]:
!cp /content/drive/MyDrive/CombinedData.csv .

In [ ]:
df=pd.read_csv("/content/CombinedData.csv")
# df.drop(["acousticness","danceability","energy","instrumentalness","key","liveness","loudness","speechiness","tempo","valence"],axis=1, inplace=True)
df

,position,track_name,artist_name,streams,track_url,country,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,valence
0,1,INDUSTRY BABY (feat. Jack Harlow),Lil Nas X,1640059,https://open.spotify.com/track/5Z9KJZvQzH6PFmb...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,STAY (with Justin Bieber),The Kid LAROI,1392423,https://open.spotify.com/track/5PjdY0CKGZdEuoN...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Way 2 Sexy (with Future & Young Thug),Drake,1311664,https://open.spotify.com/track/0k1WUmIRnG3xU6f...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Knife Talk (with 21 Savage ft. Project Pat),Drake,1266467,https://open.spotify.com/track/2BcMwX1MPV6ZHP4...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Heat Waves,Glass Animals,1095757,https://open.spotify.com/track/02MWAaffLxlfxAU...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,196,Mượn Rượu Tỏ Tình,BigDaddy,4370,https://open.spotify.com/track/7y5HF80szyShYXp...,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12810,197,Some,BOL4,4359,https://open.spotify.com/track/3jsYQw78lrxJA2y...,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12811,198,Nến Và Hoa,Rhymastic,4336,https://open.spotify.com/track/4S0uLMXRoAjFfIJ...,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12812,199,Shape of You,Ed Sheeran,4322,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12813,200,Thuong Em La Dieu Anh Khong The Ngo,Noo Phước Thịnh,4318,https://open.spotify.com/track/2gT5LL3uRANxvvm...,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
streams_df = df.copy(deep=True)
streams_df = streams_df.drop(axis = 1, labels = 'position')
streams_df = streams_df.drop(axis = 1, labels = 'artist_name')
streams_df = streams_df.drop(axis = 1, labels = 'track_name')
streams = streams_df["streams"]
streams

0        1640059
1        1392423
2        1311664
3        1266467
4        1095757
          ...
12809       4370
12810       4359
12811       4336
12812       4322
12813       4318
Name: streams, Length: 12814, dtype: int64

In [ ]:
new_df=streams_df.copy(deep=True)
i = 0
for iterator in new_df.track_url:
  a = new_df.track_url[i]
  new_df.track_url[i] = a[31:]
  i = i+1

<ipython-input-35-582b9e1c75f4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.track_url[i] = a[31:]

In [ ]:
new_df

,streams,track_url,country,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,valence
0,1640059,5Z9KJZvQzH6PFmb8SNkxuk,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1392423,5PjdY0CKGZdEuoNab3yDmX,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1311664,0k1WUmIRnG3xU6fvvDVfRG,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1266467,2BcMwX1MPV6ZHP4tUT9uq6,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1095757,02MWAaffLxlfxAUY7c5dvx,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,4370,7y5HF80szyShYXpXTAwYtD,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12810,4359,3jsYQw78lrxJA2ysnmOIf9,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12811,4336,4S0uLMXRoAjFfIJOW7A8aW,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12812,4322,7qiZfU4dY1lWllzX7mPBI3,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12813,4318,2gT5LL3uRANxvvmDxaULbQ,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
import requests

client_id = "c11d0217b4d748e3a3bbb91b096d6fa0"
client_secret = "24f193fbe9954566b4ccb4cf299996cf"   

AUTH_URL = 'https://accounts.spotify.com/api/token'

auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': client_id,
    'client_secret': client_secret,
})

auth_response_data = auth_response.json()

access_token = auth_response_data['access_token']

In [123]:
headers = {
    'Authorization': 'Bearer {token}'.format(token=access_token)
}

In [109]:
new_df=pd.read_csv('usa.csv','\t')

<ipython-input-109-16004ca625af>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  new_df=pd.read_csv('usa.csv','\t')

In [112]:
print(new_df['sel title'])

0                                    1   Sweater Weather
1                                      2   I Love You So
2                                  3   Happier Than Ever
3                                           4   Dark Red
4                                            5   traitor
                             ...
195                                             41  Body
196    42  Last One Standing (feat. Polo G, Mozzy & E...
197                                        43  Pipe Down
198                                 44  Get Along Better
199                            45  Love All (with JAY-Z)
Name: sel title, Length: 200, dtype: object

In [136]:
def recursive_items(dictionary):
    for key, value in dictionary.items():
        if type(value) is dict:
            yield from recursive_items(value)
        else:
            yield (key, value)

In [164]:
import warnings
warnings.filterwarnings("ignore")

In [165]:
import json
import requests
BASE_URL = 'https://api.spotify.com/v1/'
count = 0
count = count - 1
for i in range(len(new_df['sel title'])):
  try:
    title=new_df['sel title'][i].split(" ")[1:]
  except:
    print(i)
    continue
  artist=new_df['artist'][i]
  title=" ".join(title)
  trackname=BASE_URL+"search?q=track:"+title+"%20artist"+artist+ "&type=track"
  r = requests.get(trackname, headers=headers).json()
  try:
    track_id=r['tracks']['items'][0]['id']
  except:
    print(title)
    continue
  # track_id = new_df.track_url[i]
  r = requests.get(BASE_URL + 'audio-features/' + track_id, headers=headers)
  r = r.json()
  try:
    new_df.loc["acousticness",count] = r["acousticness"]
    new_df.loc["danceability",count] = r["danceability"]
    new_df["energy",count] = r["energy"]
    new_df["instrumentalness",count] = r["instrumentalness"]
    new_df["key",count] = r["key"]
    new_df["liveness",count] = r["liveness"]
    new_df["loudness",count] = r["loudness"]
    new_df["speechiness",count] = r["speechiness"]
    new_df["tempo",count] = r["tempo"]
    new_df["valence",count] = r["valence"]
    count = count+1
  except:
    break

All Too Well (Sad Girl Autumn Version) - Recorded at Long Pond Studios
Better Man (Taylor's Version) (From The Vault)
Let It Snow! Let It Snow! Let It Snow!
You All Over Me (feat. Maren Morris) (Taylor’s Version) (From The Vault)
24
DOLLA SIGN SLIME (feat. Megan Thee Stallion)
Let It Snow! Let It Snow! Let It Snow! (with The B. Swanson Quartet)
Thriller - 2003 Edit
Spooky, Scary Skeletons - Undead Tombstone Remix
Ghostbusters
The Christmas Song (Merry Christmas To You)
Underneath the Tree
Beat Box 3 (feat. DaBaby)
Betrayal (feat. Drake)
A Holly Jolly Christmas
All Too Well (Taylor's Version)
Wonderful Christmastime - Edited Version / Remastered 2011
Best I Ever Had Remix
Junya
Gasoline (feat. Taylor Swift)
Run Rudolph Run
Blue Christmas
Carol of the Bells
Better Believe
It's Beginning to Look a Lot like Christmas
Demon High
White Christmas
God Breathed
someone like u - interlude
Jingle Bells - Remastered 1999
Santa Claus Is Coming To Town
Feels (feat. Khalid)
Monster Mash
Feliz Navidad
Chi-Raq (with G Herbo)
Holly Jolly Christmas
Christmas (Baby Please Come Home)
Working for the Knife
Crocodile Teeth (with Skillibeng) - Remix
I Want Candy
Halloween Theme - Main Title
It's the Most Wonderful Time of the Year
Came Out (feat. Lil Keed)
Treacherous (Taylor's Version)
Banana Boat Song
Superstar (feat. Future)
This Is Halloween - Soundtrack
Good News
Not Like Me
Tu Veneno
Get with You
200
201

KeyError: ignored

In [ ]:
new_df.to_csv("/content/drive/MyDrive/vals_mmt.csv", sep=',')

NameError: ignored

In [ ]:
!cp /content/drive/MyDrive/archive.zip .
!unzip archive.zip

Archive:  archive.zip
  inflating: charts.csv

In [ ]:
import pandas as pd
df=pd.read_csv("/content/charts.csv")

In [ ]:
df.drop(df.loc[df['chart']=="viral50"].index, inplace=True)
def filter_rows_by_values(df, col, values):
    return df[~df[col].isin(values)]
df=filter_rows_by_values(df,"region",['Australia', 'Brazil', 'Austria', 'Belgium', 'Colombia', 'Bolivia',
       'Denmark', 'Bulgaria', 'Canada', 'Chile', 'Costa Rica',
       'Czech Republic', 'Finland', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Estonia', 'France', 'Germany', 'Global', 'Greece',
       'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'Indonesia', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Lithuania',
       'Malaysia', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Norway', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Singapore', 'Spain', 'Slovakia', 'Sweden',
       'Taiwan', 'Switzerland', 'Turkey', 'United Kingdom', 'Uruguay',
       'Thailand', 'Vietnam', 'Egypt', 'Israel', 'Morocco', 'Romania',
       'Saudi Arabia', 'South Africa', 'United Arab Emirates', 'Russia',
       'Ukraine'])
df['date'] = pd.to_datetime(df['date'])
res = df[~(df['date'] < '2021-01-01')]
df=res

In [ ]:
# sk=res[res["region"]=="South Korea"]
# sk

,title,rank,date,artist,url,region,chart,trend,streams
14499629,Moon,192,2021-07-01,BTS,https://open.spotify.com/track/1kBDdMMhlNZtfa1...,South Korea,top200,MOVE_DOWN,1574.0
14504405,Butter,1,2021-07-01,BTS,https://open.spotify.com/track/2bgTY4UwhfBYhGT...,South Korea,top200,SAME_POSITION,27470.0
14504406,Next Level,2,2021-07-01,aespa,https://open.spotify.com/track/2zrhoHlFKxFTRF5...,South Korea,top200,SAME_POSITION,19314.0
14504407,Bad Habits,3,2021-07-01,Ed Sheeran,https://open.spotify.com/track/6PQ88X9TkUIAUIZ...,South Korea,top200,SAME_POSITION,14304.0
14504408,Dynamite,4,2021-07-01,BTS,https://open.spotify.com/track/4saklk6nie3yiGe...,South Korea,top200,MOVE_UP,12398.0
...,...,...,...,...,...,...,...,...,...
24875334,I Love You So,196,2021-10-31,The Walters,https://open.spotify.com/track/4SqWKzw0CbA05TG...,South Korea,top200,MOVE_DOWN,1291.0
24875335,A Walk,197,2021-10-31,Yerin Baek,https://open.spotify.com/track/07o59OvDiUuVpAb...,South Korea,top200,MOVE_DOWN,1291.0
24875336,34+35,198,2021-10-31,Ariana Grande,https://open.spotify.com/track/6Im9k8u9iIzKMrm...,South Korea,top200,MOVE_DOWN,1286.0
24875337,Anymore,199,2021-10-31,JEON SOMI,https://open.spotify.com/track/6GwtJzM3yffZ4FJ...,South Korea,top200,MOVE_DOWN,1286.0
24875338,I Will Go To You Like the First Snow,200,2021-10-31,AILEE,https://open.spotify.com/track/2BPXILn0MqOe5Wr...,South Korea,top200,NEW_ENTRY,1286.0

In [ ]:
usa=df[df["region"]=="United States"]
arg=df[df["region"]=="Argentina"]
sk=df[df["region"]=="South Korea"]
ind=df[df["region"]=="India"]

NameError: ignored

In [ ]:
sk

,title,rank,date,artist,url,region,chart,trend,streams
14499629,Moon,192,2021-07-01,BTS,https://open.spotify.com/track/1kBDdMMhlNZtfa1...,South Korea,top200,MOVE_DOWN,1574.0
14504405,Butter,1,2021-07-01,BTS,https://open.spotify.com/track/2bgTY4UwhfBYhGT...,South Korea,top200,SAME_POSITION,27470.0
14504406,Next Level,2,2021-07-01,aespa,https://open.spotify.com/track/2zrhoHlFKxFTRF5...,South Korea,top200,SAME_POSITION,19314.0
14504407,Bad Habits,3,2021-07-01,Ed Sheeran,https://open.spotify.com/track/6PQ88X9TkUIAUIZ...,South Korea,top200,SAME_POSITION,14304.0
14504408,Dynamite,4,2021-07-01,BTS,https://open.spotify.com/track/4saklk6nie3yiGe...,South Korea,top200,MOVE_UP,12398.0
...,...,...,...,...,...,...,...,...,...
24875334,I Love You So,196,2021-10-31,The Walters,https://open.spotify.com/track/4SqWKzw0CbA05TG...,South Korea,top200,MOVE_DOWN,1291.0
24875335,A Walk,197,2021-10-31,Yerin Baek,https://open.spotify.com/track/07o59OvDiUuVpAb...,South Korea,top200,MOVE_DOWN,1291.0
24875336,34+35,198,2021-10-31,Ariana Grande,https://open.spotify.com/track/6Im9k8u9iIzKMrm...,South Korea,top200,MOVE_DOWN,1286.0
24875337,Anymore,199,2021-10-31,JEON SOMI,https://open.spotify.com/track/6GwtJzM3yffZ4FJ...,South Korea,top200,MOVE_DOWN,1286.0
24875338,I Will Go To You Like the First Snow,200,2021-10-31,AILEE,https://open.spotify.com/track/2BPXILn0MqOe5Wr...,South Korea,top200,NEW_ENTRY,1286.0

In [ ]:
def to_csv(df,name):
  df.to_csv(name, sep=',')

In [ ]:
to_csv(usa,"usa.csv")
to_csv(ind,"ind.csv")
to_csv(sk,"sk.csv")
to_csv(arg,"arg.csv")

In [ ]:
def main_ranker(df):
  vals=df.url.unique
  d={}
  count={}
  # data['url'].value_counts()[value]
  cols=list(df)
  cols.append("count")
  new_df = pd.DataFrame(columns=cols)
  # df.drop_duplicates('title', inplace = True)
  for index,key in enumerate(df.url.unique()):
    count[key]=df['url'].value_counts()[key]

  for index, row in df.iterrows():

      u=row["url"]
      r=row["rank"]
      if u in d:
        d[u]+=r
      else:
        d[u]=r 
  
  df.drop_duplicates('url', inplace = True)

  for index, row in df.iterrows():
    # row=row.tolist()
    key=row['url']
    row['rank']=d[key]
    row['count']=count[key]
    new_df.loc[index]=row

  name_d={}
  cols.append('ranking')
  final_df=   pd.DataFrame(columns=cols)
  count={}
  # for index,key in enumerate(new_df.title.unique()):
  #   count[key]=new_df['title'].value_counts()[key]

  for index, row in new_df.iterrows():

      u=row["title"]
      r=row["rank"]
      if u in name_d:
        name_d[u]+=r
        count[u]+=row["count"]
      else:
        name_d[u]=r 
        count[u]=row["count"]
  
  new_df.drop_duplicates('title', inplace = True)

  for index, row in new_df.iterrows():
    # row=row.tolist()
    key=row['title']
    row['ranking']=name_d[key]/count[key]

    final_df.loc[index]=row

  final_df=final_df.sort_values('ranking')
  
  return final_df

In [ ]:
usa_modified=main_ranker(usa.copy())
ind_modified=main_ranker(ind.copy())
arg_modified=main_ranker(arg.copy())
sk_modified=main_ranker(sk.copy())

In [ ]:
to_csv(usa_modified,"usa.csv")
to_csv(ind_modified,"ind.csv")
to_csv(sk_modified,"sk.csv")
to_csv(arg_modified,"arg.csv")

# final correlation result

In [3]:
# pdi, individualism, masclunity, uncertainity avoidance,long term orientation,indulgence
from numpy.random import randn
from numpy.random import seed
from scipy.stats import pearsonr


ind_hofstede=[77,48,56,40,51,26]
arg_hofstede=[49,46,56,86,20,62]
usa_hofstede=[40,91,62,46,26,68]
sk_hofstede=[60,18,39,85,100,29]

# Mellow Unpretentious Sophisticated Intense Contemporary

ind_genre=[5,3,20,4,168]
arg_genre=[4,3,3,33,157]
usa_genre=[8,5,38,29,120]
sk_genre=[11,2,7,15,165]

genre_list=[]
hofstede_list=[]
genre_list.append(ind_genre);genre_list.append(arg_genre);genre_list.append(usa_genre);genre_list.append(sk_genre);
hofstede_list.append(ind_hofstede);hofstede_list.append(arg_hofstede);hofstede_list.append(usa_hofstede);hofstede_list.append(sk_hofstede);

In [4]:
import pandas as pd
import numpy as np
import io
df_genre = pd.DataFrame(genre_list, columns =['Mellow','Unpretentious','Sophisticated','Intense','Contemporary'])
df_hofstede = pd.DataFrame(hofstede_list,columns=['pdi','individualism',' masclunity',' uncertainity','orientation','indulgence'])

In [6]:
# row= bpm,dnce,dB,live,valence,acoust

# score_l= [[-0.43,-0.22,-0.07,0.41,0.08],
#  [-0.11,-0.11,0.53,0.49,0.17],
#  [-0.38,-0.26,-0.27,0.64,-0.03],
#  [-0.47,-0.48,-0.22,0.66,0.08],
#  [0.56,0.15,0.32,-0.54,-0.07],
#  [0.05,-0.31,0.30,0.05,0.04]]

score_l= [[-0.43,-0.22,-0.07,0.41,0.08],
 [-0.11,-0.11,0.53,0.49,0.17],
 [-0.38,-0.26,-0.27,0.64,-0.03],
 [-0.47,-0.48,-0.22,0.66,0.08],
 [0.56,0.15,0.32,-0.54,-0.07],
 [0.05,-0.31,0.30,0.05,0.04]]

In [13]:
# for i in range(len(score_l)):
#   for j in range(len(score_l[0])):
#     score_l[i][j]+=1
#     score_l[i][j]/=2

In [83]:
print(score_l)

[[-0.43, -0.22, -0.07, 0.41, 0.08], [-0.11, -0.11, 0.53, 0.49, 0.17], [-0.38, -0.26, -0.27, 0.64, -0.03], [-0.47, -0.48, -0.22, 0.66, 0.08], [0.56, 0.15, 0.32, -0.54, -0.07], [0.05, -0.31, 0.3, 0.05, 0.04]]

In [84]:
df_ind=pd.read_csv('/content/ind.csv',sep='\t')
df_sk=pd.read_csv('/content/sk.csv',sep='\t')
df_usa=pd.read_csv('/content/usa.csv',sep='\t')
df_arg=pd.read_csv('/content/arg.csv',sep='\t')

In [5]:
# bpm_norm=();dnce_norm=();dB_norm=();live_norm=();valence_norm=();acoust_norm=();
list_clos=['bpm','dnce','dB','live','val','acous']
norm=[]
for col in list_clos:
  norm.append([max(df_ind[col].max(),df_arg[col].max(),df_usa[col].max(),df_sk[col].max()),min(df_ind[col].min(),df_arg[col].min(),df_usa[col].min(),df_sk[col].min())])

In [86]:
print(norm)

[[208, 1.0], [96, 23.0], [0, -23.0], [94.0, 2], [97.0, 1.0], [99.0, 0]]

In [87]:
# normalise df values
def func_normalise(df):
  for id,col in enumerate(list_clos):
    it=norm[id]
    df[col] = df[col].apply(lambda x: ((x-it[1]) *100)/(it[0]-it[1]))
  return df
df_norm_arg=func_normalise(df_arg.copy())
df_norm_ind=func_normalise(df_ind.copy())
df_norm_sk=func_normalise(df_sk.copy())
df_norm_usa=func_normalise(df_usa.copy())

In [88]:
score_l_t=np.array(score_l.copy()).T
print(score_l_t)

[[-0.43 -0.11 -0.38 -0.47  0.56  0.05]
 [-0.22 -0.11 -0.26 -0.48  0.15 -0.31]
 [-0.07  0.53 -0.27 -0.22  0.32  0.3 ]
 [ 0.41  0.49  0.64  0.66 -0.54  0.05]
 [ 0.08  0.17 -0.03  0.08 -0.07  0.04]]

In [12]:
new_cols=['mellow','unpretenious','sophisticated','intense','contemperory']
for col in new_cols:
  df_norm_arg[col]=np.nan
  df_norm_ind[col]=np.nan
  df_norm_sk[col]=np.nan
  df_norm_usa[col]=np.nan

In [8]:
def func(df):
  data=[]
  for index, row in df.iterrows():
    for i,col in enumerate(new_cols):
      ans=0
      for j,val in enumerate(list_clos):
        ans+=float(score_l_t[i][j])*float(row[val])
      row[col]=ans
    data.append(row.values.flatten().tolist())
  lol=pd.DataFrame(data,columns=list(df_norm_arg.columns.values))
  return lol.copy()

In [7]:
func(df_norm_arg).to_csv('arg_final.csv',sep='\t')
func(df_norm_ind).to_csv('ind_final.csv',sep='\t')
func(df_norm_usa).to_csv('usa_final.csv',sep='\t')
func(df_norm_sk).to_csv('sk_final.csv',sep='\t')

NameError: ignored

In [8]:
df_ind_final=pd.read_csv('/content/ind_final.csv',sep='\t')
df_sk_final=pd.read_csv('/content/sk_final.csv',sep='\t')
df_usa_final=pd.read_csv('/content/usa_final.csv',sep='\t')
df_arg_final=pd.read_csv('/content/arg_final.csv',sep='\t')

In [9]:
df_usa_final = df_usa_final[df_usa_final['mellow'].notnull()]
df_arg_final = df_arg_final[df_arg_final['mellow'].notnull()]

### get average values

In [10]:
def print_average(col):
  print("\t"+col.upper()+"\t")
  print()
  print("\t"+"India"+"\t")
  print(df_ind_final.loc[:, col].mean())
  print("\t"+"South Korea"+"\t")
  print(df_sk_final.loc[:, col].mean())
  print("\t"+"USA"+"\t")
  print(df_usa_final.loc[:, col].mean())
  print("\t"+"Argentina"+"\t")
  print(df_arg_final.loc[:, col].mean())
for col in new_cols:
  print_average(col)
# mellow sophisticated 
# arg+us, india, sk
# sk,ind+arg,usa

NameError: ignored

In [95]:
# def updater(df):
#   for i,col in enumerate(new_cols):
#       df[col] = df[col].apply(lambda x: df[val]*score_l_t[i][j] for j,val in enumerate(list_clos))
#   return df
# df_norm_arg=updater(df_norm_arg)

In [96]:
"""
masclunity contemperory(low)
mascunity intense(high)
masclunity mellow(low)
masclunity sophisticated (high)

uncertainity avoidance intense(high)
uncertainity avoidance sophisticated(wrong)

indulgence intense(high)
indulgence sophisticated (high)

long term orientation intense(low)
long term orietation sophisticated(low)

individual contemperory(low)
individual intense(high)intense
individual sophisiticated(sophisticated)
individual mellow(low)



"""

'\nmasclunity contemperory(low)\nmascunity intense(high)\nmasclunity mellow(low)\nmasclunity sophisticated (high)\n\nuncertainity avoidance intense(high)\nuncertainity avoidance sophisticated(wrong)\n\nindulgence intense(high)\nindulgence sophisticated (high)\n\nlong term orientation intense(low)\nlong term orietation sophisticated(low)\n\nindividual contemperory(low)\nindividual intense(high)intense\nindividual sophisiticated(sophisticated)\nindividual mellow(low)\n\n\n\n'

### genre based

In [97]:
for genre in df_genre:
  for hofstede in df_hofstede:
    print(genre+" "+hofstede)
    print(df_genre[genre].corr(df_hofstede[hofstede]))

Mellow pdi
-0.13898449038534522
Mellow individualism
-0.2484241645722393
Mellow  masclunity
-0.6593320014634528
Mellow  uncertainity
0.20515349681255352
Mellow orientation
0.7645191891249594
Mellow indulgence
-0.26082848016079857
Unpretentious pdi
-0.6070909114653847
Unpretentious individualism
0.9958353128253667
Unpretentious  masclunity
0.8485355027587173
Unpretentious  uncertainity
-0.6149318675680913
Unpretentious orientation
-0.7077630669203182
Unpretentious indulgence
0.7374309410866509
Sophisticated pdi
-0.2853492384287917
Sophisticated individualism
0.8637434277555147
Sophisticated  masclunity
0.6312412780196733
Sophisticated  uncertainity
-0.8296678425469981
Sophisticated orientation
-0.3374052296075558
Sophisticated indulgence
0.3370790090523472
Intense pdi
-0.9307165126132142
Intense individualism
0.42279369534850725
Intense  masclunity
0.3583861016926725
Intense  uncertainity
0.4092501634260082
Intense orientation
-0.5998503003988617
Intense indulgence
0.9310303408964972
Contemporary pdi
0.8160561473501066
Contemporary individualism
-0.8895709046155024
Contemporary  masclunity
-0.6184425080814587
Contemporary  uncertainity
0.35041845738966465
Contemporary orientation
0.5312706188521004
Contemporary indulgence
-0.8034017672786367

### p-values

In [14]:
print("\t"+"  PDI"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_sk_final[col].tolist()
    group2 = df_usa_final[col].tolist()+df_arg_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group1, group2)
    stri="\t"
    # Print the results
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	  PDI
	CONTEMPERORY
F-statistic: 9.195146701065632
p-value: 0.002426576416674663

In [16]:
print("\t"+"INDIVIDUALISM"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_arg_final[col].tolist()
    group2 = df_usa_final[col].tolist()
    group3=df_sk_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group3,group1, group2)
    stri="\t"
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	INDIVIDUALISM
	MELLOW
F-statistic: 9.85764833474539
p-value: 5.921413907598845e-05

	SOPHISTICATED
F-statistic: 43.79070163700403
p-value: 9.591235193485977e-19

	CONTEMPERORY
F-statistic: 4.673536953137365
p-value: 0.009603973391597867

In [17]:
print("\t"+"MASCLUNITY"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_usa_final[col].tolist()+df_arg_final[col].tolist()
    group2 = df_sk_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group1, group2)
    stri="\t"
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	MASCLUNITY
	UNPRETENIOUS
F-statistic: 4.588174188412303
p-value: 0.03219329065526913

	SOPHISTICATED
F-statistic: 4.070217492605117
p-value: 0.04364565430996874

	CONTEMPERORY
F-statistic: 10.528568664920046
p-value: 0.0011754321362695617

In [1]:
print("\t"+"UNCERTAINITY AVOIDANCE"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_usa_final[col].tolist()
    group2 = df_sk_final[col].tolist()+df_arg_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group1, group2)
    stri="\t"
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	UNCERTAINITY AVOIDANCE

NameError: ignored

In [18]:
print("\t"+"Long term orientation"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_usa_final[col].tolist()
    group2 = df_sk_final[col].tolist()
    group3= df_arg_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group1, group2,group3)
    stri="\t"
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	Long term orientation
	MELLOW
F-statistic: 8.787485474848584
p-value: 0.00016837311975042608

	UNPRETENIOUS
F-statistic: 4.8143680745182555
p-value: 0.008356578323396677

	SOPHISTICATED
F-statistic: 44.611373456757285
p-value: 4.591490255273285e-19

	CONTEMPERORY
F-statistic: 4.963571964692023
p-value: 0.007211696094884968

In [19]:
print("\t"+"Indulgence"+"\t")
# Define the values for each group
for col in new_cols:
    group1 = df_ind_final[col].tolist()+df_sk_final[col].tolist()
    group2= df_arg_final[col].tolist()+df_usa_final[col].tolist()

    # Perform the ANOVA test
    f_stat, p_val = stats.f_oneway(group1, group2)
    stri="\t"
    if(p_val<=0.05):
      print(stri+col.upper()+stri)
      print("F-statistic:", f_stat)
      print("p-value:", p_val)
      print(stri+stri)

	Indulgence
	CONTEMPERORY
F-statistic: 7.817187892270646
p-value: 0.005303082980943242

# trial stuff

In [ ]:
def func_vals(genres,hofstedes,name):
  l=[]
  for genre in genres:
    l_util=[]
    for param in hofstedes:
      coeff = pearsonr([genre], [param])
      l_util.append(coeff)
    l.append(coeff)
  print(l)
  one_d_list = [x for b in l for x in b]
  df = pd.DataFrame(one_d_list, index= ['Mellow','Unpretentious','Sophisticated','Intense','Contemporary'])
  df.style.set_caption(name)
  df.transpose()
  print(df)
  return df

usa_df=func_vals(usa_genre,usa_hofstede,'usa')
print(usa_df)

ValueError: ignored

In [ ]:
df = pd.DataFrame(dict(x=ind_hofstede))

CORR_VALS = np.array(ind_genre)
def get_correlation(vals):
    return pearsonr(vals, CORR_VALS)[0]

df['ind'] = df.rolling(window=len(CORR_VALS)).apply(get_correlation)

In [ ]:
print(df)

    x  correlation
0  77          NaN
1  48          NaN
2  56          NaN
3  40          NaN
4  51    -0.125808
5  26    -0.908452

In [ ]:
df = pd.DataFrame(dict(x=arg_hofstede))

CORR_VALS = np.array(arg_genre)
def get_correlation(vals):
    return pearsonr(vals, CORR_VALS)[0]

df['arg'] = df.rolling(window=len(CORR_VALS)).apply(get_correlation)

In [ ]:
print(df)

    x       arg
0  49       NaN
1  46       NaN
2  56       NaN
3  86       NaN
4  20 -0.245450
5  62 -0.282536

In [ ]:
df = pd.DataFrame(dict(x=sk_hofstede))

CORR_VALS = np.array(sk_genre)
def get_correlation(vals):
    return pearsonr(vals, CORR_VALS)[0]

df['sk'] = df.rolling(window=len(CORR_VALS)).apply(get_correlation)

In [ ]:
print(df)

     x        sk
0   60       NaN
1   18       NaN
2   39       NaN
3   85       NaN
4  100  0.808778
5   29 -0.241745

In [ ]:
df = pd.DataFrame(dict(x=usa_hofstede))

CORR_VALS = np.array(usa_genre)
def get_correlation(vals):
    return pearsonr(vals, CORR_VALS)[0]

df['usa'] = df.rolling(window=len(CORR_VALS)).apply(get_correlation)

In [ ]:
print(df)

    x       usa
0  40       NaN
1  91       NaN
2  62       NaN
3  46       NaN
4  26 -0.647387
5  68 -0.004385